<div class="container">
<h2 class="text-center">Kasutajad</h2>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sortType='company'; sortReverse = !sortReverse">Ettevõte</a>
          <span ng-show="sortType == 'company' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'company' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a href="" ng-click="sortType='ettevotteNimi'; sortReverse = !sortReverse">Ettevõtte nimi</a>
          <span ng-show="sortType == 'ettevotteNimi' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'ettevotteNimi' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a href="" ng-click="sortType='regKood'; sortReverse = !sortReverse">Ettevõtte registrikood</a>
          <span ng-show="sortType == 'regKood' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'regKood' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a href="" ng-click="sortType='nimi'; sortReverse = !sortReverse">Nimi</a>
          <span ng-show="sortType == 'nimi' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'nimi' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a href="" ng-click="sortType='vanus'; sortReverse = !sortReverse">Vanus</a>
          <span ng-show="sortType == 'vanus' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'vanus' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
          <a href="" ng-click="sortType='email'; sortReverse = !sortReverse">E-mail</a>
          <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in userList | orderBy:sortType:sortReverse">
        <td>{{user.company?"Jah":"Ei"}}</td>
        <td>{{user.ettevotteNimi}}</td>
        <td>{{user.regKood}}</td>
        <td>{{user.nimi}}</td>
        <td>{{user.vanus}}</td>
        <td>{{user.email}}</td>
        <td><button class="btn btn-sm btn-danger" ng-click="removeUser(user._id)">Kustuta</button></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <p>
      Registreeritud kasutajaid: {{userList.length}}
    </p>
  </div>
</div>
</div>
