<div class="container users">
  <h2 class="text-center">Kasutajate register:</h2>
  <h4>Registreeritud ettevõtted: </h4>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sortType='ettevotteNimi'; sortReverse = !sortReverse">Ettevõtte nimi</a>
            <span ng-show="sortType == 'ettevotteNimi' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'ettevotteNimi' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType='regKood'; sortReverse = !sortReverse">Ettevõtte registrikood</a>
            <span ng-show="sortType == 'regKood' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'regKood' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType='nimi'; sortReverse = !sortReverse">Nimi</a>
            <span ng-show="sortType == 'nimi' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'nimi' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType='vanus'; sortReverse = !sortReverse">Vanus</a>
            <span ng-show="sortType == 'vanus' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'vanus' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType='email'; sortReverse = !sortReverse">E-mail</a>
            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList | orderBy:sortType:sortReverse" ng-if="user.company==true">
          <td>{{user.ettevotteNimi}}</td>
          <td>{{user.regKood}}</td>
          <td>{{user.nimi}}</td>
          <td>{{user.vanus}}</td>
          <td>{{user.email}}</td>
          <td class="text-right"><button class="btn btn-sm btn-danger" ng-click="removeUser(user._id)">Kustuta</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <h4>Registreeritud eraisikud: </h4>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sortType2='nimi'; sortReverse2 = !sortReverse2">Nimi</a>
            <span ng-show="sortType2 == 'nimi' && !sortReverse2" class="fa fa-caret-down"></span>
            <span ng-show="sortType2 == 'nimi' && sortReverse2" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType2='vanus'; sortReverse2 = !sortReverse2">Vanus</a>
            <span ng-show="sortType2 == 'vanus' && !sortReverse2" class="fa fa-caret-down"></span>
            <span ng-show="sortType2 == 'vanus' && sortReverse2" class="fa fa-caret-up"></span>
          </th>
          <th>
            <a href="" ng-click="sortType2='email'; sortReverse2 = !sortReverse2">E-mail</a>
            <span ng-show="sortType2 == 'email' && !sortReverse2" class="fa fa-caret-down"></span>
            <span ng-show="sortType2 == 'email' && sortReverse2" class="fa fa-caret-up"></span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList | orderBy:sortType2:sortReverse2" ng-if="user.company==undefined">
          <td>{{user.nimi}}</td>
          <td>{{user.vanus}}</td>
          <td>{{user.email}}</td>
          <td class="text-right"><button class="btn btn-sm btn-danger" ng-click="removeUser(user._id)">Kustuta</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="text-center">
    Kokku registreeritud kasutajaid: {{userList.length}}
  </p>
</div>
